*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 50px;
}
html, body, #app {
  position: relative;
  width: 100vw;
  height: 100vh;
}
ul {
  list-style: none;
}
 a {
  text-decoration: none;
 }
 .icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}